<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/d8fd00a690.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/static/home.css">
  <link rel="stylesheet" href="/static/first_page.css">
  <link rel="shortcut icon" type="image⁄x-icon" href="/static/images/logo.png">

  <title class="fa-solid fa-music">Error !! </title>
</head>

<body>
  <nav class="navbar">
    <div class="logo">
      <a href="/">
        <i class="fa-solid fa-music">
        </i>
        <span>MusicMate</span>
      </a>
    </div>
  </nav> 

  <main>
      <div class="error-msg">
    <h1> sorry for the inconvenience.</h1>
    <a href="/">Click here to go back <i class="fa-solid fa-arrow-pointer"></i></a>          
      </div>

  </main>

  <footer>
    <div class="info-container">
      <div class="jeongmin">
        &copy; Jeongmin Choi
      </div>
      <div class="jenna-info">
        <a href="https://github.com/JmJenna"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.linkedin.com/in/jenna-jeongmin-choi-84716419a/"><i class="fa-brands fa-linkedin"></i></a>
      </div>
    </div>
  </footer>
</body>

</html>