{% extends 'base.html' %}
{% block title %} Edit profile {% endblock %}

{% block content %}

<div class="form-all">
    <h2 class="form-text">Edit profile</h2>
    <form method="POST" class="form-input">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}

        {% for error in field.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}

        {{ field.label(class="form-label") }}
        {{field (placeholder=field.label.text, class="form-control") }}
        {% endfor %}
        <div class="post-btns-group">
            <a href="/users/{{g.user.id}}" class="post-btns">Back</a>
            <button class="post-btns">Save</button>
        </div>
    </form>
</div>


{% endblock %}