{% extends 'base.html' %}
{% block title %} Login - MusicMate {% endblock %}

{% block content %}

<div class="form-all">
    <h2 class="form-text">Log in to MusicMate</h2>
    <form method="POST" class="form-input">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}

        {% for error in field.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}

        {{ field.label(class="form-label") }}
        {{field (placeholder=field.label.text, class="form-control") }}
        {% endfor %}
        <button class="form-btn">Log in</button>
    </form>
    <div>Don't have an account?<a href="/signup" class="btn-a"> Sign up</a></div>
</div>

{% endblock %}